
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
.roboto-slab{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
body{
    margin: 0;
    padding: 0;
    
    font-family:  Roboto Slab;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 9px;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 20px;

}
.container{
    border: 2px solid red;
}